/* You can add global styles to this file, and also import other style files */
.dx-scrollview-content {
  background-image: url('../src/themes/banner.png');
  background-size: cover;
}

* {
  box-sizing: unset;
}
